body {
    background-color: #252525;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #aa8453;
    text-decoration: none;
    font-size: 60px;
}

/*header*/
header {
    color: #aa8453;
    font-size: 60px;
    display: flex;
    background-color: black;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    border-bottom: solid 2px white;

}

h1 {
    display: flex;
    justify-content: center;
}

/*Main index*/
.mainIndex {
    background: linear-gradient(115deg, rgba(46, 72, 24, 0.8), rgba(71, 7, 5, 0.7)), url(../IMAGES/doner-viande-dans-pain-planche-bois.jpg);
    padding: 2%;
}

/* Carroussel */
.kebab {
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    border: ridge black 10px;
    height: 750px;
}

/*boutons inscription login*/
.boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;

}

.boutonsK {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(255, 254, 254);
    width: 120%;
    text-align: center;
    border: ridge black 10px;
}


/*formulaire*/
.flexForum2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#jeVaisToutCasser {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(115deg, rgba(158, 123, 58, 0.8), rgba(215, 78, 73, 0.7)), url(../IMAGES/doner-viande-dans-pain-planche-bois.jpg);
    padding: 2%;
    color: #aa8453;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1%;
    background-color: rgb(65, 56, 56);
    padding: 1%;
    font-size: 25px;
    margin-bottom: 2%;
    gap: 10px;

}

#submit {
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#submit:hover {
    background-color: rgb(255, 0, 0);
}

.yolo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* LOGIN */
#formulaireConnexion {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(115deg, rgba(158, 123, 58, 0.8), rgba(215, 78, 73, 0.7)), url(../IMAGES/doner-viande-dans-pain-planche-bois.jpg);
    padding: 12%;
    color: #aa8453;

}

#connexion {
    width: 20%;
    padding: 1%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}

#connexion:hover {
    background-color: rgb(191, 22, 98);
}

/* FORUM */
.mainForum{
    
    padding: 2%;
}
.flexForum {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1%;
}

h2 {
    text-align: center;
    font-size: 35px;
    width: 85%;
    margin-left: 7.5%;
}

.gestionImage{
    display: flex;
    flex-direction: row;
    background: linear-gradient(115deg, rgba(226, 221, 215, 0.8), rgba(226, 160, 157, 0.7)), url(../IMAGES/doner-viande-dans-pain-planche-bois.jpg);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: solid white 2px;
}
.blablaKebab{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 2%;
    line-height: 120%;
}

/* forum cards bootstrap */
.card {
    background: linear-gradient(115deg, rgba(134, 240, 144, 0.8), rgba(225, 93, 89, 0.7)), url(../IMAGES/doner-viande-dans-pain-planche-bois.jpg);
    border: ridge 5px rgb(255, 255, 255);
}

.cartesFlex {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    justify-content: space-around;
}

.card-title {
    font-size: 30px;
    color: #000000;
    font-weight: bold;

}

.card-text {
    font-weight: bold;
}

.boutonFlex {
    display: flex;
    justify-content: flex-end;
}

.btn {
    color: #aa8453;
    background-color: #252525;
    border: solid rgb(255, 255, 255) 2px;
    font-weight: bold;
}

.card-img-top {
    height: 350px;
}

/* Responsive tablette*/
@media only screen and (min-width:601px) and (max-width:912px) {
    #formulaire {
        width: 100%;

    }

    .form {
        width: 80%;
    }

    #submit {
        width: 40%;
    }

    #formulaireConnexion {
        width: 100%;
    }

    #connexion {
        width: 40%;
    }
}

/*responsive mobile*/
@media only screen and (max-width:600px) {
    #formulaire {
        width: 100%;
    }

    .form {
        width: 80%;
        margin-bottom: 2%;
        gap: 10px;
    }

    #submit {
        width: 40%;
    }

    #formulaireConnexion {
        width: 100%;
    }

    #connexion {
        width: 40%;
    }
}